<div class="container" *ngIf="!showSchProject">
  <button class="button-16" role="button" *ngIf="isVisible" (click)="back()">
    Back</button
  ><br />
  <div class="grid">
    <div class="column" *ngFor="let project of projects">
      <article class="article">
        <a [href]="project.projectSourceLink" class="article-image-container">
          <img
            alt="Project Image"
            class="article-image"
            [src]="project.projectImage"
          />
        </a>
        <header class="article-header">
          <h1 class="article-title">
            <a class="article-title-link" [href]="project.projectSourceLink">
              {{ project.projectTitle }}
            </a>
          </h1>
        </header>
        <footer class="article-footer">
          <a class="author-link" [href]="project.projectSourceLink">
            <img
              alt="Source Image"
              class="author-image"
              [src]="project.sourceImage"
            />
            <p class="author-name">Check Source Code</p>
          </a>
        </footer>
      </article>
    </div>
  </div>
</div>
