<section class="about section">
  <div class="about__container container">
    <!-- Left Side: Education -->
    <div class="about__education">
      <h3 class="resume-title">Education</h3>
      <div class="resume-item" *ngFor="let item of education">
        <h4>{{ item.degree }}</h4>
        <p class="info">
          <em>{{ item.institution }}</em>
        </p>
      </div>
    </div>

    <!-- Right Side: Summary -->
    <div class="about__summary">
      <h2 class="about__profession">Summary</h2>
      <p class="about__description">
        <span *ngFor="let line of summary">{{ line }}<br /></span>
      </p>

      <div class="about__skills">
        <h3 class="about__skills-title">My Skills</h3>
        <div class="about__skills-container">
          <div class="about__skills-ring">
            <!-- Skills Items -->
            <div
              class="about__skills-item"
              *ngFor="let skill of skills; let i = index"
              [ngStyle]="{ '--i': i }"
            >
              <img
                [src]="skill.img"
                [alt]="skill.name"
                class="about__skills-img"
              />
              <p class="about__skills-label">{{ skill.name }}</p>
            </div>

            <!-- Button in the center of the circle -->
            <a (click)="onDownloadResume()" class="button center-button"
              >Download Resume</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
