<section class="about section">
  <div class="about__container about__page container grid">
    <div class="about__perfil perfil">
      <div class="perfil__content">
        <div class="perfil__overlay-content">
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Programming &amp; Software Development, AAS</h4>
            <h5>2021 - 2024</h5>
            <p><em>LaGuardia Community College, Queens, NY</em></p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate.
            </p>
          </div>
          <div class="resume-item">
            <h4>Bachelor in Art</h4>
            <h5>2007 - 2010</h5>
            <p><em>Escuela Profesional De Arte Manuel Muñoz Cedeño</em></p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="about__content grid">
      <div class="about__data grid">
        <div class="about__info grid">
          <h2 class="about__profession">Summary</h2>
          <p class="about__description">
            Exceptionally passionate about
            <b>innovation, culture, and teamwork</b>,personally and
            professionally. Thrive on pushing boundaries, embracing diverse
            perspectives, and fostering collaborative environments to drive
            positive change and achieve collective success.
          </p>
        </div>
      </div>

      <div class="about__skills">
        <h3 class="about__skills-title">My Skills</h3>

        <div class="about__skills-content grid">
          <div class="about__skills-img">
            <img
              src="https://cdn.worldvectorlogo.com/logos/html-1.svg"
              alt="image HTML"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">HTML</p>
          </div>
          <div class="about__skills-img">
            <img
              src="https://static-00.iconduck.com/assets.00/file-type-css-icon-1806x2048-r5fwjl3p.png"
              alt="image CSS"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">CSS</p>
          </div>
          <div class="about__skills-img">
            <img
              src="https://w7.pngwing.com/pngs/271/444/png-transparent-angular-icon-hd-logo-thumbnail.png"
              alt="image React"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">Angular</p>
          </div>
          <div class="about__skills-img">
            <img
              src="https://cdn-icons-png.flaticon.com/512/8744/8744719.png"
              alt="image TypeScript"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">TypeScript</p>
          </div>
          <div class="about__skills-img">
            <img
              src="https://cdn-icons-png.flaticon.com/512/5968/5968371.png"
              alt="image Swift"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">Swift</p>
          </div>
          <div class="about__skills-img">
            <img
              src="https://cdn.worldvectorlogo.com/logos/git-icon.svg"
              alt="image Git"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">Git</p>
          </div>
          <div class="about__skills-img">
            <img
              src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg"
              alt="image GitHub"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">GitHub</p>
          </div>
          <div class="about__skills-img">
            <img
              src="https://w7.pngwing.com/pngs/505/718/png-transparent-xcode-macos-bigsur-icon-thumbnail.png"
              alt="image macOs"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">xCode</p>
          </div>
          <div class="about__skills-img">
            <img
              src="https://cdn.worldvectorlogo.com/logos/visual-studio-code-1.svg"
              alt="image VS Code"
              class="about__skills-img"
            />
            <p class="about__skills-hover-text">VSCode</p>
          </div>
        </div>
      </div>

      <a href="contact.html" class="about__button button">Download Resume</a>
    </div>
  </div>
</section>
