:host {
  display: flex;
  justify-content: center;
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

.feature--image img,
.feature--image video {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.02);
  aspect-ratio: 16 / 9;
}

.feature-pair:nth-child(even) {
  flex-direction: row-reverse;
}

.feature-pair {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 64px;
}

.feature {
  flex: 1 1 45%;
  text-align: center;
  padding: 0 15px;
}

.feature--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.features {
  margin: 64px 0;
}

.features h4 {
  font-size: 23px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin: 0;
  line-height: 27px;
}

.features p {
  font-size: 18px;
  font-weight: 300;
  color: #4e4e4e;
  line-height: 28.8px;
  margin-top: 5px;
}

.feature--image {
  width: 100%;
  height: auto;
}

.feature--image video {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .feature {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 960px) {
  .feature {
    flex-basis: 100%;
  }

  .feature-pair {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .feature-pair {
    flex-direction: column;
  }

  .feature {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .features h4 {
    font-size: 20px;
  }

  .features p {
    font-size: 16px;
  }

  .feature--image img,
  .feature--image video {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .features h4 {
    font-size: 18px;
  }

  .features p {
    font-size: 14px;
  }
}
