<main class="container">
  <section class="features" *ngIf="!showSchProject">
    <section class="feature-pair">
      <article class="feature feature--image">
        <img
          src="../../assets/img/lostAndFoundUI.png"
          alt="Feature Screenshot"
        />
      </article>
      <article class="feature feature--text">
        <h4>Lost & Found</h4>
        <p>
          Lost and Found is a platform designed for the LAGCC community to
          reconnect students with lost belongings.
        </p>
        <a
          href="https://github.com/josealarconchacon/Lost-And-Found"
          class="btn-link"
          >Check source code</a
        >
      </article>
    </section>

    <section class="jumbotron" *ngIf="!showSchProject">
      <div class="jumbotron-content">
        <div class="jumbotron-text">
          <h2>Something else I spent my time</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
            dolore harum id totam perferendis, minima iusto placeat, recusandae
            pariatur repellendus hic maiores autem quos eos ab quam! Iusto,
            impedit fugit.
          </p>
          <button class="btn-primary" (click)="navigateToSchProjects()">
            Take Me There
          </button>
        </div>
        <div class="mobile-mockups">
          <div class="mockup-2">
            <div class="mockup-map">
              <img src="../../assets/img/app-preview.png" alt="" />
            </div>
          </div>
          <div class="mockup-2">
            <div class="mockup-map">
              <img src="../../assets/img/lostAndFoundUI.png" alt="" />
            </div>
            <div class="mockup-map">
              <img src="../../assets/img/app-preview.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <app-sch-projects *ngIf="showSchProject"></app-sch-projects>
</main>
