<div class="home">
  <section class="background grid grid-center" id="showcase-background">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-white text-left">
          <!-- <h1 class="display-2 mb-3 welcome-text">Hey👋🏼 <br /></h1> -->
          <h1 class="display-2 mb-3 welcome-text">Hello</h1>

          <p class="intro-text"></p>
          <a
            class="btn btn-gradient text-uppercase font-weight-bold"
            href="#projects"
            >Explore My Work</a
          >
        </div>
        <div class="col-md-6 image-container">
          <img
            src="../../assets/img/jose_portolio_img.png"
            alt="Portfolio Image"
            class="portfolio-image"
          />
        </div>
      </div>
    </div>
  </section>
</div>
