body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  background: #000000;
  scroll-behavior: smooth;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #060b08;
}

.background {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  max-width: 1200px;
  padding: 2rem;
}

.text-white {
  color: #ffffff;
  text-align: left;
}

.display-2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.intro-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.btn-gradient {
  background: linear-gradient(217deg, #f8174b, #7f1fa3 70.71%);
  border: 1px solid rgba(72, 48, 48, 0.5);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-gradient:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .display-2 {
    font-size: 2.5rem;
  }

  .intro-text {
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.8rem 1.5rem;
  }

  .row {
    flex-direction: column;
  }

  .col-md-6 {
    margin-bottom: 2rem;
  }
}
